$classes: (
    t-0: ( key: top, value: 0 ),
    r-0: ( key: right, value: 0 ),
    b-0: ( key: bottom, value: 0 ),
    l-0: ( key: left, value: 0 ),

    hidden: ( key: display, value: none ),
    inline: ( key: display, value: inline ),
    block: ( key: display, value: block ),
    inline-block: ( key: display, value: inline-block ),

    absolute: ( key: position, value: absolute ),
    relative: ( key: position, value: relative ),
    fixed: ( key: position, value: fixed ),

    o-hidden: ( key: overflow, value: hidden ),
    o-scroll: ( key: overflow, value: scroll ),
    o-y-auto: ( key: overflow-y, value: auto ),

    full-width: ( key: width, value: 100% ),
    full-height: ( key: height, value: 100% ),

    v-align-top: ( key: vertical-align, value: top ),

    left: ( key: left, value: left ),
    right: ( key: right, value: right )    
);