$spacerSizes: (xs: 0.5em, sm: 0.7em, md: 1em, lg: 1.5em, xl: 2em);
$borderSizes: (xs: 1px, sm: 2px, md: 3px, lg: 4px, xl: 5px);

$dirs: (
    t: (top),
    r: (right),
    e: (right),
    b: (bottom),
    l: (left),
    s: (left),
    x: (left, right),
    y: (top, bottom),
    box: (top, right, bottom, left)
);

$typographySizes: (
    giga    : 4em,
    mega    : 3em,
    alpha   : 2.5em,
    beta    : 2em,
    gamma   : 1.7em,
    delta   : 1.5em,
    epsilon : 1.2em,
    zeta    : 0.8em
);

$baseColors: (
  'white': #fff,
  'black': #000
);

$breakpoints: (xs: 320px, sm: 640px, md: 1024px, lg: 1200px);
$gridColumnCount: 12;
$columnGutter: 1rem;