@mixin bg-hidef-img($image) {
    @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {

        /* on retina, use image that's scaled by 2 */
        background-image: url($image);
    }
}

.bg-rounded-sm {
    border-radius: 5px;
}

/* Bottom aligned background */
.bg-bottom {
    background-position: bottom;
}

/* Top aligned background */
.bg-top {
    background-position: top;
}