/*
#Borders

In some countries they write from right to left so we decided to create start and end values for borders.
The value can be changed by changing the variable in a config file that is not created yet.

* Bs = left or right border depending of the direction of writing
* Bt = border-top
* Br = border-right
* Bb = border-bottom
* Bl = border-left
* Bx = border-left and border-right
* By = border-top and border-bottom

####No border top

	<div class="B-0">There is no top border in this div.</div>
*/
.B-0 {
    border: none;
}
/*
####Tablet screen border start value

	<div class="Bs-sm">1px width left or right border depending of the direction of writing.</div>

*/
.Bs-sm {
    border-left-width: 1px;
}
/*
####Top border for sm breakpoint
	
	<div class="Bt-sm">Top border for small breakpoint is 1px width.</div>
*/
.Bt-sm {
    border-top-width: 1px;
}

.Bt-md {
    border-top-width:2px;
}

.Bt-lg {
    border-top-width: 3px;
}

.Bb-sm {
    border-bottom-width: 1px;
}

.Bb-lg {
    border-bottom-width: 3px;
}

.By-sm {
    border-top-width: 1px;
    border-bottom-width: 1px;
}


.By-dotted {
    border-top-style: dotted;
    border-bottom-style: dotted;
}

.By-dashed {
    border-top-style: dashed;
    border-bottom-style: dashed;
}

.Bb-dashed {
    border-bottom-style: dashed;
}

.Bb-double {
    border-bottom-style: double;
}

.Bt-double {
    border-top-style: double;
}

.Bt-solid {
    border-top-style: solid;
}

.Bb-solid {
    border-bottom-style: solid;
}