$borderSizes: (xs: 1px, sm: 2px, md: 3px, lg: 4px, xl: 5px) !default;

/*
#Borders

In some countries they write from right to left so we decided to create start and end values for borders.
The value can be changed by changing the variable in a config file that is not created yet.

* Bs = left or right border depending of the direction of writing
* Bt = border-top
* Br = border-right
* Bb = border-bottom
* Bl = border-left
* Bx = border-left and border-right
* By = border-top and border-bottom

####No border top

	<div class="B-0">There is no top border in this div.</div>
*/
.B-0 {
    border: none;
}

@include createMultipleSizeBoxClasses('B{dirKey}', $borderSizes, 'border-{dir}-width');
@include createMultipleBoxClasses('B{dirKey}-solid', ('border-{dir}-style': 'solid'));
@include createMultipleBoxClasses('B{dirKey}-dotted', ('border-{dir}-style': 'dotted'));
@include createMultipleBoxClasses('B{dirKey}-dashed', ('border-{dir}-style': 'dashed'));
