$breakpoints: (xs: 320, sm: 640, md: 1024, lg: 1200) !default;

// @include breakpoint('xs') { width: 90%; }
@mixin breakpoint($bpName, $breakpoints: $breakpoints) {
    $bpValue: map-get($breakpoints, $bpName);
    @media (min-width: $bpValue) { @content; }
}

// .block, .r-xs-block, .r-sm-block, .r-md-block...
// createReactiveClasses('r-{bp}-block', $breakpoints);
@mixin createReactiveClasses($selectorName, $breakpoints) {
    @each $name, $value in $breakpoints {
        $newSelector: str-replace($selectorName, '{bp}', $name);
        .#{$newSelector} {
            @include breakpoint($name, $breakpoints) {
                @content;
            }
        }
    };
}

@mixin reactiveClasses($selectorName, $_breakpoints: $breakpoints) {
    @include createReactiveClasses('r-{bp}-' + $selectorName, $_breakpoints) {
        @content;
    };
}