$flexClasses: (
    flex: ( display: flex ),

    flex-align-start: ( align-items: flex-start ),
    flex-align-end: ( align-items: flex-end ),
    flex-align-center: ( align-items: center ),
    flex-align-baseline: ( align-items: baseline ),
    flex-align-stretch: ( align-items: stretch ),
    flex-align-inherit: ( align-items: inherit ),
    flex-align-initial: ( align-items: initial ),

    flex-justify-start: ( justify-content: flex-start ),
    flex-justify-end: ( justify-content: flex-end ),
    flex-justify-center: ( justify-content: center ),
    flex-justify-space-around: ( justify-content: space-around ),
    flex-justify-space-between: ( justify-content: space-between ),
    flex-justify-space-evently: ( justify-content: space-evenly ),
    flex-justify-initial: ( justify-content: initial ),
    flex-justify-inherit: ( justify-content: inherit ),

    flex-wrap-0: ( flex-wrap: nowrap ),
    flex-wrap: ( flex-wrap: wrap ),
    flex-wrap-reverse: ( flex-wrap: wrap-reverse ),
    flex-wrap-inherit: ( flex-wrap: inherit ),

    flex-column: ( flex-direction: column ),
    flex-row: ( flex-direction: row ),
    
    flex-1: ( flex: 1 ),
    flex-2: ( flex: 2 ),
    flex-3: ( flex: 3 ),
    flex-4: ( flex: 4 ),
    flex-5: ( flex: 5 )
);

/* Flex classes */
@include createClasses($flexClasses);

/* Responsive flex classes */
@include createResponsiveClasses($flexClasses);