$breakpoints: (xs: 320px, sm: 640px, md: 1024px, lg: 1200px) !default;
$gridColumnCount: 12 !default;

/*
# Grid

Good defaults, widely customizable.
*/
@mixin fixedGrid($columns, $unit, $breakpoints: $breakpoints) {
    @each $name, $value in $breakpoints {
        @include breakpoint($name, $breakpoints) {
            @for $i from 1 through $columns {
                $unitlessValue: strip-units($value);
                .#{$name}-#{$i} {
                    width: $i * ($unitlessValue/$columns) + $unit;
                }
            }
        }
    }
}

// @mixin fluidGrid($columns, $breakpoints: $breakpoints) {
//     @each $name, $value in $breakpoints {

//     }
// }

@include fixedGrid($gridColumnCount, 'px', $breakpoints);