$layoutClasses: (
    t-0: ( top: 0 ),
    r-0: ( right: 0 ),
    b-0: ( bottom: 0 ),
    l-0: ( left: 0 ),

    hidden: ( display: none ),
    inline: ( display: inline ),
    block: ( display: block ),
    inline-block: ( display: inline-block ),

    absolute: ( position: absolute ),
    relative: ( position: relative ),
    fixed: ( position: fixed ),

    o-hidden: ( overflow: hidden ),
    o-scroll: ( overflow: scroll ),
    o-y-auto: ( overflow-y: auto ),

    full-width: ( width: 100% ),
    full-height: ( height: 100% ),

    v-align-top: ( vertical-align: top ),

    left: ( float: left ),
    right: ( float: right ),

    overflow-scroll: (
        overflow: scroll
    )
);

/* Layout classes */
@include createClasses($layoutClasses);

/* Responsive layout classes */
@include createResponsiveClasses($layoutClasses);