$spacerSizes: (xs: 0.5em, sm: 0.7em, md: 1em, lg: 1.5em, xl: 2em) !default;

/*
#Margins

####M is an abbreviation for margin.

* Mt = margin-top
* Mr = margin-right
* Mb = margin-bottom
* Ml = margin-left

####No margins

	<div class="M-0">There are no margins in this div.</div>
*/
.M-0 {
    margin: 0;
}
/*
####No top margin

	<div class="Mt-0">Top margin of this div is 0</div>
*/
.Mt-0 {
    margin-top: 0;
}

/*
#Paddings

####P is an abbreviation for padding.

* Pt = padding-top
* Pr = padding-right
* Pb = padding-bottom
* Pl = padding-left

####No paddings

	<div class="P-0">There are no paddings in this div.</div>
*/
.P-0 {
    padding: 0;
}

$paddings: directionalMultipleSizeDefinitions('P{dirKey}-{key}', $spacerSizes, 'padding-{dir}');
@include createClasses($paddings);

$margins: directionalMultipleSizeDefinitions('M{dirKey}-{key}', $spacerSizes, 'margin-{dir}');
@include createClasses($margins);
