/*
#Margins

####M is an abbreviation for margin.

* Mt = margin-top
* Mr = margin-right
* Mb = margin-bottom
* Ml = margin-left

####No margins

	<div class="M-0">There are no margins in this divi.</div>
*/
.M-0 {
    margin: 0;
}
/*
####No top margin

	<div class="Mt-0">Top margin of this div is 0</div>
*/
.Mt-0 {
    margin-top: 0;
}

/*
#Paddings

####P is an abbreviation for padding.

* Pt = padding-top
* Pr = padding-right
* Pb = padding-bottom
* Pl = padding-left

####No paddings

	<div class="P-0">There are no paddings in this div.</div>
*/
.P-0 {
    padding: 0;
}

// @include createSpacer('padding-box', ('padding'));
// @include createSpacer('padding-v', ('padding-left', 'padding-right'));
// @include createSpacer('padding-h', ('padding-top', 'padding-bottom'));
@mixin createSpacer($selectorName, $cssProperties) {
    @each $size in $sizes {
        .#{$selectorName}-#{$size} {
            @each $property in $cssProperties {
                #{$property}: nth($spacers, index($sizes, $size));
            }
        }
    }
}

// @include createSpacersForTypes(('margin', 'padding'), 'box');
// @include createSpacersForTypes(('margin', 'padding'), 'v', ('left', 'right'));
@mixin createSpacersForTypes($types, $selectorName, $cssProperties:false) {
    @each $type in $types {
        $typeProperties: ();

        @if $cssProperties != false {
            @each $property in $cssProperties {
                $typeProperties: append($typeProperties, $type + '-' + $property);
            }
        } @else {
            $typeProperties: append($typeProperties, $type);
        }

        @include createSpacer($type + '-' + $selectorName, $typeProperties);
    }
}

@mixin createPaddingAndMarginSpacers($selectorName, $cssProperties:false) {
    @include createSpacersForTypes(('margin', 'padding'), $selectorName, $cssProperties);
}

@include createPaddingAndMarginSpacers('box');
@include createPaddingAndMarginSpacers('x', ('left', 'right'));
@include createPaddingAndMarginSpacers('y', ('top', 'bottom'));
@include createPaddingAndMarginSpacers('s', ('left'));
@include createPaddingAndMarginSpacers('e', ('right'));
@include createPaddingAndMarginSpacers('t', ('top'));
@include createPaddingAndMarginSpacers('b', ('bottom'));
