body {
    font-size: 1rem; // 1rem = 16px
}

.f-giga,
.f-mega,
.f-alpha,
.f-beta,
.f-gamma,
.f-delta,
.f-epsilon,
.f-zeta {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.f-giga {

}

.f-mega {

}

.f-alpha {

}

.f-beta {

}

.f-gamma {

}

.f-delta {

}

.f-epsilon {

}

.f-zeta {

}

.f-blank {
    color: #ffffff;
}

.f-bold {
    font-weight: bold;
}

.f-italic {
    font-style:italic;
}

.f-uppercase {
    text-transform: uppercase;
}

.f-line-through {
    text-decoration: line-through;
}

.f-right {
    text-align: right;
}

.f-left {
    text-align: left;
}

.f-center {
    text-align: center;
}