$typographySizes: (
    giga    : 4em,
    mega    : 3em,
    alpha   : 2.5em,
    beta    : 2em,
    gamma   : 1.7em,
    delta   : 1.5em,
    epsilon : 1.2em,
    zeta    : 0.8em
) !default;

$responsiveTypography: (
  sm : (
    giga    : 4em,
    mega    : 3em,
    alpha   : 2.5em,
    beta    : 2em,
    gamma   : 1.7em,
    delta   : 1.5em,
    epsilon : 1.2em,
    zeta    : 0.8em
  )
) !default;

body {
    font-size: 1rem; // 1rem = 16px
}

// Should default margin be moved to h1-h6?
// .f-giga,
// .f-mega,
// .f-alpha,
// .f-beta,
// .f-gamma,
// .f-delta,
// .f-epsilon,
// .f-zeta {
//     margin-top: 0.5em;
//     margin-bottom: 0.5em;
// }

@include createMultipleSizeClasses('f', $typographySizes, ('font-size'));

// typography matrix generation
@each $bpoint, $sizes in $responsiveTypography {
    @include breakpoint($bpoint) {
        @include createMultipleSizeClasses('f', $sizes, ('font-size'));
    }
}


.f-blank {
    color: #ffffff;
}

.f-normal {
    font-style: normal;
}

.f-bold {
    font-weight: bold;
}

.f-italic {
    font-style:italic;
}

.f-w-normal {
    font-weight: normal;
}

.f-w-700 {
    font-weight: 700;
}

.f-uppercase {
    text-transform: uppercase;
}

.f-line-through {
    text-decoration: line-through;
}

.f-no-decoration {
    text-decoration: none;
}

.f-underline {
    text-decoration: underline;
}

.f-right {
    text-align: right;
}

.f-left {
    text-align: left;
}

.f-center {
    text-align: center;
}

.f-no-wrap {
    white-space: nowrap;
}