$responsiveTypography: (
  sm : (
    giga    : 4em,
    mega    : 3em,
    alpha   : 2.5em,
    beta    : 2em,
    gamma   : 1.7em,
    delta   : 1.5em,
    epsilon : 1.2em,
    zeta    : 0.8em
  )
) !default;

@each $bpoint, $sizes in $responsiveTypography {
    @include breakpoint($bpoint) {
        @include createMultipleSizeClasses('f', $sizes, ('font-size'));
    }
}
