$breakpoints: (xs: 320px, sm: 640px, md: 1024px, lg: 1200px) !default;
$gridColumnCount: 12 !default;
$columnGutter: 1rem !default;

@mixin fluidGrid($columns, $breakpoints: $breakpoints) {
    @each $name, $value in $breakpoints {
        @include breakpoint($name, $breakpoints) {
            @for $i from 1 through $columns {
                $unitlessValue: strip-units($value);
                .#{$name}-#{$i} {
                    width: unquote(100 / $columns * $i + '%');
                    float: left;
                    height: 100%;
                    padding-left: $columnGutter;
                    padding-right: $columnGutter;
                }
            }
        }
    }
}

@include fluidGrid($gridColumnCount, $breakpoints);