body {
    font-size: 1rem; // 1rem = 16px
}

.f-giga,
.f-mega,
.f-alpha,
.f-beta,
.f-gamma,
.f-delta,
.f-epsilon,
.f-zeta {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.f-giga {

}

.f-mega {

}

.f-alpha {

}

.f-beta {

}

.f-gamma {

}

.f-delta {

}

.f-epsilon {

}

.f-zeta {

}

.f-blank {
    color: #ffffff;
}

.bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}